:root {
    --jumbotron-padding-y: 3rem;
  }
  body{
      font-family: 'Courier New', Courier, monospace;
     
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
    
    
   
    border-radius: 0 !important;
   
    
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
      border-radius: 0 !important;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .container .jumbotron {
    border-radius: 0 !important;
}

  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  .popover-danger {
    background-color: red !important;
    border-color: red !important;
    color: white !important;
}
a{
    color: white;
}


