html,
body {
    height: 100%;
    background-color: rgba(56, 57, 59, 0.658);
  }
  
  body {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      color: rgb(24, 24, 24);
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }

	.login-form {
		width: 340px;
        margin: 50px auto;
       
	}
    .login-form form {
    	margin-bottom: 15px;
        
       
        padding: 30px;
      
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
    body{
  
        overflow: hidden;
        font-family: 'Courier New', Courier, monospace;
    }